$color-white: #fff;
$color-black: #000;
$color-grey-light: #EBF4F7;
$color-grey-dark: #737373;
$color-grey-darker: #3e3f40;
$color-grey-darkest: #222222;
$color-brand: #2DA6E6;
$color-brand-darker: #1A2A40;
$color-accent-1: #F2A30F;
$color-accent-2: #E00B27;
