<div class="hero-content container">
  <div class="brand">
    <svg viewBox="0 0 100 100" class="icon brand white">
      <use xlink:href="#icon-nslogo" />
    </svg>
  </div>
  <span class="primary">New Standard Power Technical Co. Ltd. </span>
  <span class="secondary">Auxiliary Power Support, Intelligent Online and Offline Monitoring System, Transformer Circuit Breaker for Large-scaled Power Plants</span>
  <div class="hero-button">
    <a href="{{site.url}}/#products" class="button cta">See our products</a>
  </div>
</div>
